
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7" ng-app><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8" ng-app><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en" ng-app><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>yaakaito.org</title>
  <meta name="author" content="yaakaito">

  
  <meta name="description" content="CoffeeScriptでライトにBDDする function CategoryCtrl($scope) { $scope.categories = []; $scope.categories.push("CoffeeScript"); $scope.categories.push(" &hellip;">
  

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <!-- <meta name="MobileOptimized" content="320"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  
  <link rel="canonical" href="http://yaakaito.github.com/">
  <link href="/favicon.png" rel="icon">
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="/atom.xml" rel="alternate" title="yaakaito.org" type="application/atom+xml">
  <script type="text/javascript" src="/javascripts/libs/angular-1.0.1.min.js"></script>
  


</head>

<body   >
  <header role="banner" class="clear-fix">
    <h1 class="separator"><a href="/"><span>yaakaito.org</span></a></h1>

<nav role="navigation"><ul>
  <li><a href="/blog/archives">Archives</a></li>
  <li><a href="/resume">Resume</a></li>
  <li><a href="/contact">Contact</a></li>
</ul>
</nav>

  </header>
  <div role="main" class="separator">
    <div class="blog-index">
  
   
    <article class="blog clear-fix separator" role="article">
      <h1 class="separator">
        <a href="/blog/2012/10/10/light-coffee-bdd/">CoffeeScriptでライトにBDDする</a>
      </h1>
  
      <div class="clear-fix">
        <aside class="categories" role="complementary">
         

<script>
function CategoryCtrl($scope) {
  $scope.categories = [];
  
    
      $scope.categories.push("CoffeeScript");
    
      $scope.categories.push("Jasmine");
    
      $scope.categories.push("Testing");
    
      $scope.categories.push("grunt");
    
  
}
</script>
<ul ng-controller="CategoryCtrl">
  <li ng-repeat="category in categories">
    <a href="/blog/categories/{{ category | lowercase }}/">
      {{ category }}
    </a>
  </li>
</ul>

     
        </aside>
        <div class="clear-fix"> 
          
  <section><div ng-non-bindable><p>こんにちは！うきょーです。
ちょろいCoffeeScript(単発ライブラリ程度)をBDDしながら書くとしたら、
どんな感じにするのが楽かなーと思ったのでちょっとやってみた。</p>

<p>選ぶ以前に、割と最初から何使うかなーってのは決めていて、
grunt+grunt-jasmine-taskの組み合わせです。</p>

<ul>
<li><a href="https://github.com/yaakaito/light-coffee-bdd">light-coffee-bdd</a></li>
</ul>


<h2>grunt-jasmine-task</h2>

<p>grunt-jasmine-taskをnpmから引っ張ってきます。
これはgruntに標準でついてくるtest-taskと同じでphantomjsを使ってテストを実行するタスクです。
requirejs使うといい感じに書けるっぽいです。
package.jsonを適当に作って取ってきます。ついでにcoffee-taskも取ってきます。</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
</pre></td><td class='code'><pre><code class='javascript'><span class='line'><span class="p">{</span>
</span><span class='line'>  <span class="s2">&quot;name&quot;</span><span class="o">:</span> <span class="s2">&quot;project&quot;</span>
</span><span class='line'>  <span class="p">,</span> <span class="s2">&quot;version&quot;</span><span class="o">:</span> <span class="s2">&quot;0.0.1&quot;</span>
</span><span class='line'>  <span class="p">,</span> <span class="s2">&quot;private&quot;</span><span class="o">:</span> <span class="kc">true</span>
</span><span class='line'>  <span class="p">,</span> <span class="s2">&quot;dependencies&quot;</span><span class="o">:</span> <span class="p">{</span>
</span><span class='line'>    <span class="s2">&quot;grunt-coffee&quot;</span> <span class="o">:</span> <span class="s2">&quot;*&quot;</span>
</span><span class='line'>    <span class="p">,</span> <span class="s2">&quot;grunt-jasmine-task&quot;</span> <span class="o">:</span> <span class="s2">&quot;*&quot;</span>
</span><span class='line'>  <span class="p">}</span>
</span><span class='line'><span class="p">}</span>
</span></code></pre></td></tr></table></div></figure>


<h2>grunt.js</h2>

<p>grunt.jsにcoffeeのコンパイルとjasmineのタスクを追加します。</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
<span class='line-number'>10</span>
<span class='line-number'>11</span>
<span class='line-number'>12</span>
<span class='line-number'>13</span>
<span class='line-number'>14</span>
<span class='line-number'>15</span>
<span class='line-number'>16</span>
<span class='line-number'>17</span>
<span class='line-number'>18</span>
<span class='line-number'>19</span>
<span class='line-number'>20</span>
<span class='line-number'>21</span>
<span class='line-number'>22</span>
<span class='line-number'>23</span>
<span class='line-number'>24</span>
<span class='line-number'>25</span>
<span class='line-number'>26</span>
<span class='line-number'>27</span>
<span class='line-number'>28</span>
</pre></td><td class='code'><pre><code class='javascript'><span class='line'><span class="nx">coffee</span> <span class="o">:</span> <span class="p">{</span>
</span><span class='line'>  <span class="nx">app</span> <span class="o">:</span> <span class="p">{</span>
</span><span class='line'>    <span class="nx">src</span> <span class="o">:</span> <span class="p">[</span>
</span><span class='line'>      <span class="s1">&#39;lib/*.coffee&#39;</span>
</span><span class='line'>    <span class="p">]</span>
</span><span class='line'>    <span class="p">,</span> <span class="nx">dest</span> <span class="o">:</span> <span class="s1">&#39;build/&#39;</span>
</span><span class='line'>  <span class="p">}</span>
</span><span class='line'>
</span><span class='line'>  <span class="p">,</span> <span class="nx">spec</span> <span class="o">:</span> <span class="p">{</span>
</span><span class='line'>    <span class="nx">src</span> <span class="o">:</span> <span class="p">[</span>
</span><span class='line'>      <span class="s1">&#39;specs/*.coffee&#39;</span>
</span><span class='line'>    <span class="p">]</span>
</span><span class='line'>    <span class="p">,</span> <span class="nx">dest</span> <span class="o">:</span> <span class="s1">&#39;spec_runner/spec/&#39;</span>
</span><span class='line'>  <span class="p">}</span>
</span><span class='line'>
</span><span class='line'>  <span class="p">,</span> <span class="nx">runner</span> <span class="o">:</span> <span class="p">{</span>
</span><span class='line'>    <span class="nx">src</span> <span class="o">:</span> <span class="p">[</span>
</span><span class='line'>      <span class="s1">&#39;spec_runner/main.coffee&#39;</span>
</span><span class='line'>    <span class="p">]</span>
</span><span class='line'>    <span class="p">,</span> <span class="nx">dest</span> <span class="o">:</span> <span class="s1">&#39;spec_runner/&#39;</span>
</span><span class='line'>  <span class="p">}</span>
</span><span class='line'><span class="p">}</span>
</span><span class='line'><span class="p">,</span> <span class="nx">jasmine</span> <span class="o">:</span> <span class="p">{</span>
</span><span class='line'>  <span class="nx">all</span> <span class="o">:</span> <span class="p">{</span>
</span><span class='line'>    <span class="nx">src</span> <span class="o">:</span> <span class="p">[</span><span class="s1">&#39;spec_runner/index.html&#39;</span><span class="p">]</span>
</span><span class='line'>    <span class="p">,</span> <span class="nx">tasks</span> <span class="o">:</span> <span class="s1">&#39;coffee:all&#39;</span>
</span><span class='line'>  <span class="p">}</span>
</span><span class='line'><span class="p">}</span>
</span></code></pre></td></tr></table></div></figure>


<h2>ランナー</h2>

<p>spec_runner/にランナーを用意します
libとかにjasmineとrequirejsを用意しておきます。
htmlはjasmineをブラウザで実行するときと一緒です。</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
<span class='line-number'>10</span>
<span class='line-number'>11</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'><span class="cp">&lt;!doctype html&gt;</span>
</span><span class='line'><span class="nt">&lt;html&gt;</span>
</span><span class='line'><span class="nt">&lt;head&gt;</span>
</span><span class='line'>  <span class="nt">&lt;title&gt;</span>Jasmine Spec Runner<span class="nt">&lt;/title&gt;</span>
</span><span class='line'>  <span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">&quot;shortcut icon&quot;</span> <span class="na">type=</span><span class="s">&quot;image/png&quot;</span> <span class="na">href=</span><span class="s">&quot;lib/jasmine-1.2.0/jasmine_favicon.png&quot;</span><span class="nt">&gt;</span>
</span><span class='line'>  <span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">&quot;stylesheet&quot;</span> <span class="na">type=</span><span class="s">&quot;text/css&quot;</span> <span class="na">href=</span><span class="s">&quot;lib/jasmine-1.2.0/jasmine.css&quot;</span><span class="nt">&gt;</span>
</span><span class='line'>  <span class="nt">&lt;script </span><span class="na">type=</span><span class="s">&quot;text/javascript&quot;</span> <span class="na">data-main=</span><span class="s">&quot;main.js&quot;</span> <span class="na">src=</span><span class="s">&quot;lib/require-2.0.2.js&quot;</span><span class="nt">&gt;&lt;/script&gt;</span>
</span><span class='line'><span class="nt">&lt;/head&gt;</span>
</span><span class='line'><span class="nt">&lt;body&gt;</span>
</span><span class='line'><span class="nt">&lt;/body&gt;</span>
</span><span class='line'><span class="nt">&lt;/html&gt;</span>
</span></code></pre></td></tr></table></div></figure>


<p>こんな感じ。
で、main.jsからspecを読み込んで実行してあげます。
main.js自体はgruntでcoffeeからコンパイルします。</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
<span class='line-number'>8</span>
<span class='line-number'>9</span>
<span class='line-number'>10</span>
<span class='line-number'>11</span>
<span class='line-number'>12</span>
<span class='line-number'>13</span>
<span class='line-number'>14</span>
<span class='line-number'>15</span>
<span class='line-number'>16</span>
<span class='line-number'>17</span>
<span class='line-number'>18</span>
<span class='line-number'>19</span>
<span class='line-number'>20</span>
<span class='line-number'>21</span>
<span class='line-number'>22</span>
<span class='line-number'>23</span>
<span class='line-number'>24</span>
<span class='line-number'>25</span>
</pre></td><td class='code'><pre><code class='coffeescript'><span class='line'><span class="nv">config =</span>
</span><span class='line'>  <span class="nv">paths :</span>
</span><span class='line'>    <span class="s">&#39;jasmine&#39;</span><span class="o">:</span>       <span class="s">&#39;lib/jasmine-1.2.0/jasmine&#39;</span>
</span><span class='line'>    <span class="s">&#39;jasmine.html&#39;</span><span class="o">:</span>   <span class="s">&#39;lib/jasmine-1.2.0/jasmine-html&#39;</span>
</span><span class='line'>    <span class="s">&#39;jasmine.helper&#39;</span><span class="o">:</span> <span class="s">&#39;lib/jasmine-1.2.0/jasmine-helper&#39;</span>
</span><span class='line'>  <span class="nv">shim :</span>
</span><span class='line'>    <span class="s">&#39;jasmine&#39;</span> <span class="o">:</span>
</span><span class='line'>      <span class="s">&#39;exports&#39;</span> <span class="o">:</span> <span class="s">&#39;jasmine&#39;</span>
</span><span class='line'>    <span class="s">&#39;jasmine.html&#39;</span><span class="o">:</span>   <span class="p">[</span><span class="s">&#39;jasmine&#39;</span><span class="p">]</span>
</span><span class='line'>    <span class="s">&#39;jasmine.helper&#39;</span><span class="o">:</span> <span class="p">[</span><span class="s">&#39;jasmine&#39;</span><span class="p">]</span>
</span><span class='line'>
</span><span class='line'><span class="nx">require</span><span class="p">.</span><span class="nx">config</span> <span class="nx">config</span>
</span><span class='line'>
</span><span class='line'><span class="nx">require</span> <span class="p">[</span><span class="s">&#39;jasmine&#39;</span><span class="p">,</span> <span class="s">&#39;jasmine.html&#39;</span><span class="p">,</span> <span class="s">&#39;jasmine.helper&#39;</span><span class="p">,</span> <span class="s">&#39;spec/sample_spec&#39;</span><span class="p">],</span> <span class="nf">(jasmine) -&gt;</span>
</span><span class='line'>  <span class="nv">jasmineEnv = </span><span class="nx">jasmine</span><span class="p">.</span><span class="nx">getEnv</span><span class="p">()</span>
</span><span class='line'>  <span class="nv">jasmineEnv.updateInterval = </span><span class="mi">1000</span>
</span><span class='line'>
</span><span class='line'>  <span class="nv">htmlReporter = </span><span class="k">new</span> <span class="nx">jasmine</span><span class="p">.</span><span class="nx">HtmlReporter</span><span class="p">()</span>
</span><span class='line'>
</span><span class='line'>  <span class="nx">jasmineEnv</span><span class="p">.</span><span class="nx">addReporter</span> <span class="nx">htmlReporter</span>
</span><span class='line'>
</span><span class='line'>  <span class="nv">jasmineEnv.specFilter = </span><span class="nf">(spec) -&gt;</span>
</span><span class='line'>    <span class="nx">htmlReporter</span><span class="p">.</span><span class="nx">specFilter</span> <span class="nx">spec</span>
</span><span class='line'>
</span><span class='line'>  <span class="nx">jasmineEnv</span><span class="p">.</span><span class="nx">execute</span><span class="p">()</span>
</span></code></pre></td></tr></table></div></figure>


<p>これで準備完了です。適当なspecを書いてみましょう。</p>

<h2>sample_spec</h2>

<p>gruntで一緒にコンパイルするので、specもcoffeeで書けばよかだと思います。今回は実装がないので何もdefineしてません。</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
</pre></td><td class='code'><pre><code class='coffeescript'><span class='line'><span class="nx">define</span> <span class="p">[],</span> <span class="o">-&gt;</span>
</span><span class='line'>  <span class="nx">describe</span> <span class="s">&#39;A suite&#39;</span><span class="p">,</span> <span class="o">-&gt;</span>
</span><span class='line'>    <span class="nx">it</span> <span class="s">&#39;sample spec&#39;</span><span class="p">,</span> <span class="o">-&gt;</span>
</span><span class='line'>      <span class="nx">expect</span><span class="p">(</span><span class="kc">true</span><span class="p">).</span><span class="nx">toBe</span> <span class="kc">true</span>
</span></code></pre></td></tr></table></div></figure>


<p>あとはコンソールから</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class='coffeescript'><span class='line'><span class="nx">$</span> <span class="nx">grunt</span> <span class="nx">jasmine</span>
</span></code></pre></td></tr></table></div></figure>


<p>で動かします。watch-task書いて動かすのもよいと思います。</p>

<h2>まとめ</h2>

<p>jasmineの部分だけ抽出してますが、実際はこれ+coffeelint+cancat+minifyみたいな構成で書いています。
gruntと使うと簡単なものなら早くセットアップできて、ブラウザもイチイチリロードしなくていいような環境になるので、楽チンですね。</p>
</div></section>
  
  


          <footer role="contentinfo">
            
              <div class="sharing">
  
  <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://yaakaito.github.com/index.html" data-via="" data-counturl="http://yaakaito.github.com/index.html" >Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  
  
  
</div>

            
            <p>








  


<time datetime="2012-10-10T00:54:00+09:00" pubdate data-updated="true">Oct 10<span>th</span>, 2012</time></p>
          </footer>
        </div>
      </div>
    </article>

  
  <aside class="about-me">
    <h1>yaakaito.org</h1>

<p>主にiOSとかJavaScriptのことを書いています。</p>

<ul>
<li><a href="http://github.com/yaakaito">Github</a></li>
<li><a href="http://twitter.com/yaakaito">Twitter</a></li>
<li><a href="http://yaakaito.hatenablog.com">Old blog</a></li>
</ul>


  </aside>
  <aside class="pagination clear-fix" role="navigation">
    

    
  </aside>
</div>

  </div>
  <aside role="complementary" class="others separator clear-fix">
    <div class="clear-fix">
      <section id="recent-archives">
  <h3>Recent Archives</h3>
  <div>
    <ul>
      
        <li class="post">
          <a href="/blog/2012/10/10/light-coffee-bdd/">CoffeeScriptでライトにBDDする</a>
        </li>
      
        <li class="post">
          <a href="/blog/2012/09/28/dwango/">ｼｬﾊﾞﾄﾞｭﾋﾞ!ﾀｯﾁ!ﾀｲｼｮｰｸ!(ドワンゴ退職しました)</a>
        </li>
      
        <li class="post">
          <a href="/blog/2012/09/26/22-birthday/">22歳になりました</a>
        </li>
      
        <li class="post">
          <a href="/blog/2012/09/25/ios6-attributed-string/">iOS6のNSAttributedStringで色とか付ける</a>
        </li>
      
        <li class="post">
          <a href="/blog/2012/09/05/release-alert-ninja/">ビューテストで便利なAlertNinjaを作りました</a>
        </li>
      
    </ul>
  </div>
  <p><a href="./archives/">Show All &raquo;</a></p>
</section>

<section id="github-repositories">
  <h3>Github Repositories</h3>
  <div ng-controller="githubCtlr">
    <ul class="repositories">
      
        <li ng-repeat="repo in repos" data-lang="{{ repo.language | lowercase }}">
          <a href="{{ repo.html_url }}">{{ repo.full_name }}</a>
        </li>
      
    </ul>
  </div> 
  <p><a href="http://github.com/">Show Github &raquo;</a></p>
  <script>
    function githubCtlr($scope, $http) {
      $scope.repos = [];
      $http.jsonp("https://api.github.com/users/yaakaito/repos?page=1&per_page=20&sort=pushed&callback=JSON_CALLBACK").success(function(data,status,header,config){
        var count = 7 || 5;
        for(var i = 0; i < count; i++) {
          $scope.repos.push(data.data[i]);
        }
      });
    }
  </script>
</section>


<section id="coderwall-badges">
  <h3>Coderwall Badges</h3>
  <div ng-controller="coderwallController">
    <ul class="badges">
      
      <li ng-repeat="badge in badges">
        <img ng-src="{{badge.badge}}" alt="{{badge.description}}" title="{{badge.name}}" />
      </li>
      
    </ul>
  </div> 
  <script>
    function coderwallController($scope, $http) {
    
      $scope.badges = [];   
      $http.jsonp("http://coderwall.com/yaakaito.json?callback=JSON_CALLBACK").success(function(data,status,header,config){
        $scope.badges = data.data.badges;
        console.log($scope.badges);
});
    }
    
  </script> 

  <p><a href="http://coderwall.com/">Show Coderwall &raquo;</a></p>
</section>


    </div>
  </aside>
  <footer role="contentinfo"><p>
  Copyright &copy; 2012 - yaakaito -
  <span class="credit">
  Powered by <a href="http://octopress.org">Octopress</a> ,
  <a href="http://github.com">Github</a> &
  <a href="http://https://github.com/yaakaito/Octopress-Theme-Blaze">Blaze</a>
</p>

</footer>
  

<script type="text/javascript">
      var disqus_shortname = 'yaakaitoorg';
      
        
        var disqus_script = 'count.js';
      
    (function () {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>







  <script type="text/javascript">
    (function(){
      var twitterWidgets = document.createElement('script');
      twitterWidgets.type = 'text/javascript';
      twitterWidgets.async = true;
      twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
      document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    })();
  </script>





</body>
  <script>
  (function(doc) {
    var addEvent = 'addEventListener',
        type = 'gesturestart',
        qsa = 'querySelectorAll',
        scales = [1, 1],
        meta = qsa in doc ? doc[qsa]('meta[name=viewport]') : [];
    function fix() {
      meta.content = 'width=device-width,minimum-scale=' + scales[0] + ',maximum-scale=' + scales[1];
      doc.removeEventListener(type, fix, true);
    }
    if ((meta = meta[meta.length - 1]) && addEvent in doc) {
      fix();
      scales = [0.25, 1.6];
      doc[addEvent](type, fix, true);
    }
  }(document));
  </script>
</html>
