$background-color: #fafafa;

$noise-bg: image-url('noise.png') top left !default;
$img-border: inline-image('dotted-border.png');

// Main Link Colors
$link-color: lighten(#009250, 3) !default;
$link-color-hover: adjust-color($link-color, $lightness: 10, $saturation: 25) !default;
$link-color-visited: $link-color;
$link-color-active: $link-color;

$header-bg: #fefefe !default;
$header-border: lighten($header-bg, 15) !default;
$title-color: #f2f2f2 !default;
$subtitle-color: #aaa !default;

$text-color: #222 !default;
$text-color-light: #aaa !default;
$type-border: #ddd !default;


/* Core theme application */

a {
  @include link-colors($link-color, $hover: $link-color-hover, $focus: $link-color-hover, $visited: $link-color-visited, $active: $link-color-active);
}
a {
  @include transition(color .3s);
}

body {
  background: $background-color;
}
