
$base-font-size: 16px;
$base-line-height: 22px;
@include establish-baseline;

$sans: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Meiryo, 'メイリオ', 'ＭＳ Ｐゴシック', Verdana, Geneva, Arial, Helvetica;
$emphasis: 'ヒラギノ角ゴ Pro W6', 'Hiragino Kaku Gothic Pro W6', Meiryo, メイリオ, 'ＭＳ Ｐゴシック', Verdana, Geneva, Arial, Helvetica;
$times: Georgia, Constantia, Hoefler Text, serif;
$title: 'Open Sans';

$copyright-font-family:  Baskerville, Palatino, 'Palatino Linotype', 'Book Antiqua', serif;
$mono: "Lucida Console", "Monaco", monospace;

//$blockquote: $type-border !default;
/*
$sans: "PT Sans", "Helvetica Neue", Arial, sans-serif !default;
$serif: "PT Serif", Georgia, Times, "Times New Roman", serif !default;
$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;
*/
$heading-font-family: "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif !default;
$header-title-font-family: $heading-font-family !default;
$header-subtitle-font-family: $heading-font-family !default;

// Fonts
.heading { font-family: $emphasis; }
.sans { font-family: $sans; }
/*.serif { font-family: $serif; }*/
.mono { font-family: $mono; }

body {
  color: $text-color;
  @extend .sans;
}

@mixin rhythm($font-size, $lines) {
  @include adjust-font-size-to($font-size, $lines);
  @include leader(1, $font-size);
  @include trailer(1, $font-size);  
}


/*
@media only screen and (min-width: 992px) {
  body { font-size: 1.15em; }
  h1 { font-size: 2.6em; line-height: 1.2em; }
}

*/

#{headings()}{
  @extend .heading;
  text-rendering: optimizelegibility;
  margin-bottom: 1em;
  font-weight: bold;
}

h1 {
  @extend .heading;
  @include rhythm(20px, 1);
}

h2 {
  @extend .heading;
  @include rhythm(18px, 2);
}

h3 {
  @extend .heading;
  @include rhythm(16px, 2);
}

h4 {
  @extend .heading;
  @include rhythm(14px, 2);
}
h5 {
  @extend .heading;
  @include rhythm(12px, 2);
}
h6 {
  @include rhythm(12px, 2);
}

p.meta {
  @include rhythm(14px, 1);
  padding: 0.4em;
  color: $text-color-light;
}

footer > p {
  @include rhythm(12px, 1);
  font-family: $copyright-font-family;
  font-style: italic;
  text-align: center;
  color: $text-color-light;
}

p, blockquote, ul, ol { margin-bottom: 1.5em; }

ul { list-style-type: disc;
  ul { list-style-type: circle; margin-bottom: 0px;
    ul { list-style-type: square; margin-bottom: 0px; }}}

ol { list-style-type: decimal;
  ol { list-style-type: lower-alpha; margin-bottom: 0px;
    ol { list-style-type: lower-roman; margin-bottom: 0px; }}}

ul, ol { &, ul, ol { margin-left: 1.3em; }}

strong { font-weight: bold; }

em { font-style: italic; }

sup, sub { font-size: 0.8em; position: relative;  display: inline-block; }
sup { top: -.5em; }
sub { bottom: -.5em; }

q { font-style: italic;
  &:before { content: "\201C"; }
  &:after { content: "\201D"; }
}

em, dfn { font-style: italic; }

strong, dfn { font-weight: bold; }

del, s { text-decoration: line-through; }

abbr, acronym { border-bottom: 1px dotted; cursor: help; }

pre, code, tt { @extend .mono; }

sub, sup { line-height: 0; }

hr { margin-bottom: 0.2em; }

small { font-size: .8em; }

big { font-size: 1.2em; }

blockquote {
  margin: 8px;
  font-style: italic;
  position: relative;
  padding-left: 12px;
  color: rgba($text-color-light, .8);
  border-left: 8px solid rgba($text-color-light, .3);
  cite {
    font-style: italic;
    a { color: $text-color-light !important; word-wrap: break-word; }
    &:before { content: '\2014'; padding:{right: .3em; left: .3em;} color: $text-color-light; }
  }
  margin-bottom: 24px; // FIXME
}

.pullquote-right:before,
.pullquote-left:before {
  /* Reset metrics. */
  padding: 0;
  border: none;

  /* Content */
  content: attr(data-pullquote);

  /* Pull out to the right, modular scale based margins. */
  float: right;
  width: 45%;
  margin: .5em 0 1em 1.5em;

  /* Baseline correction */
  position: relative;
  top: 7px;
  font-size: 1.4em;
  line-height: 1.45em;
}

.pullquote-left:before {
  /* Make left pullquotes align properly. */
  float: left;
  margin: .5em 1.5em 1em 0;
}

/* @extend this to force long lines of continuous text to wrap */
.force-wrap {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}
