body > header {
  a {
    color: $no-content-text-color;
    text-decoration: none;
    &:hover {
      img {
        opacity: 0.9;
      }
    }
    &:active {
      color: $no-content-text-color;
    }
    &:visited {
      color: $no-content-text-color;
    }

    div {

      display: block;
      margin: 12px auto;
      padding-bottom: 12px;
      width: 85%;
      text-align: center;

      border-bottom: 1px dashed #bbb;

      img {
        display: inline-block;
        margin-bottom: -2px;
        width: 14px;
        height: 14px;
        opacity: 0.5;
      }

      h1 {
        color: $no-content-text-color;
        display: inline-block;
        margin: 0;
        font-size: 12px;
        font-family: $title;
        font-weight: 600;
      }
    }
  }


/*
  h1 {
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
      color: $title_color;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }
  */
}
