
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7" ng-app><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8" ng-app><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en" ng-app><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>Resume - yaakaito.org</title>
  <meta name="author" content="yaakaito">

  
  <meta name="description" content="Resume Jul 30th, 2012 株式会社Mobways (アルバイト) 2009/05 ~ 2010/02 Felicaを用いた勤怠管理システムの開発 Felica接続部分、Webフロント、デザインを担当 受注案件での業務システムの開発 Webフロントを担当、 &hellip;">
  

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <!-- <meta name="MobileOptimized" content="320"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  
  <link rel="canonical" href="http://yaakaito.github.com/resume/">
  <link href="/favicon.png" rel="icon">
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="/atom.xml" rel="alternate" title="yaakaito.org" type="application/atom+xml">
  <script type="text/javascript" src="/javascripts/libs/angular-1.0.1.min.js"></script>
  


</head>

<body   >
  <header role="banner" class="clear-fix">
    <h1 class="separator"><a href="/"><span>yaakaito.org</span></a></h1>

<nav role="navigation"><ul>
  <li><a href="/blog/archives">Archives</a></li>
  <li><a href="/resume">Resume</a></li>
  <li><a href="/contact">Contact</a></li>
</ul>
</nav>

  </header>
  <div role="main" class="separator">
    <div>
<article class="page" role="article">
  
    <h1 class="separator">Resume</h1>
    <p class="meta">








  


<time datetime="2012-07-30T00:26:00+09:00" pubdate data-updated="true">Jul 30<span>th</span>, 2012</time></p>
  

  <h2>株式会社Mobways (アルバイト) 2009/05 ~ 2010/02</h2>

<ul>
<li>Felicaを用いた勤怠管理システムの開発

<ul>
<li>Felica接続部分、Webフロント、デザインを担当</li>
</ul>
</li>
<li>受注案件での業務システムの開発

<ul>
<li>Webフロントを担当、エクセルライクなJavaScriptアプリケーション構築</li>
</ul>
</li>
</ul>


<h2>株式会社ドワンゴ 2010/03 ~</h2>

<ul>
<li>ニコニコ動画iPhoneアプリ ver2 ~ ver4

<ul>
<li>メンバーとして開発、主に動画再生などのアプリ側のプレイヤー部分を主に担当、コアフレームワークの構築など</li>
</ul>
</li>
<li>ニコニコ生放送iPhoneアプリ ver1 ~ ver4

<ul>
<li>メンバーとして開発、主に生放送再生などのアプリ側のプレイヤー部分を主に担当、コアフレームワークの構築など</li>
</ul>
</li>
<li>ニコニコ動画iPhone版HTML5プレイヤー ver1

<ul>
<li>リーダー、マネージャ、企画、開発、デザインを担当、企画段階含め１ヶ月の期間の中で一つのアプリケーションとして形にした</li>
</ul>
</li>
<li>ニコニコ動画iPad アプリ

<ul>
<li>立ち上げ時にリーダー兼開発として参加、基礎機能を固めた段階でニコニコ書籍への異動の為引き継ぎ</li>
</ul>
</li>
<li>ニコニコ書籍

<ul>
<li>3~4人でのiOS版クライアントアプリの開発、その他Webフロントのヘルプ、技術サポートなど</li>
</ul>
</li>
</ul>


<h2>寄稿</h2>

<ul>
<li>日経ソフトウエア 2011年1月号

<ul>
<li>特別レポート　HTML5やCSS3、JavaScriptを駆使した今どきのWeb開発を学ぼう

<ul>
<li>http://itpro.nikkeibp.co.jp/article/MAG/20101115/354135/</li>
</ul>
</li>
</ul>
</li>
<li>HTML5・JavaScript・CSS3アプリケーション開発入門

<ul>
<li>【イントロダクション】 HTML5、JavaScript、CSS3を駆使して作るWebサイト

<ul>
<li>http://itpro.nikkeibp.co.jp/article/MAG/20110727/362935/</li>
</ul>
</li>
</ul>
</li>
</ul>


<h2>メディア</h2>

<ul>
<li>「キューイチ」世代の胎動――91-conf開催

<ul>
<li>[http://www.itmedia.co.jp/enterprise/articles/0908/16/news002.html]</li>
</ul>
</li>
<li>八王子で「プログラマーズカフェ」－若手エンジニアが集い交流図る

<ul>
<li>[http://hachioji.keizai.biz/headline.php?id=616]</li>
</ul>
</li>
</ul>


<h2>講演</h2>

<ul>
<li>2010 / 09 / 27 東京工科大学 メディア学部 第３学年 にて 「HTML5の概要と実践」と題して講演</li>
<li>その他IT系勉強会での発表、LTなど</li>
</ul>


<h2>出演</h2>

<ul>
<li>iPad用プレーヤーを開発者が紹介！　運営生放送</li>
<li>[http://live.nicovideo.jp/watch/lv28049619]</li>
<li>超会議特番～実証！２時間でニコ動プロトタイプを運営長は作ったのか？エンジニア編～</li>
<li>[http://live.nicovideo.jp/watch/lv88690983]</li>
<li>ドワンゴ研究開発チャンネル</li>
<li>[http://ch.nicovideo.jp/channel/dwango-engineer]</li>
</ul>


<h2>その他</h2>

<ul>
<li>生放送配信技術

<ul>
<li>配信技術、現場指揮、番組プロデュースなど</li>
</ul>
</li>
</ul>


  
    <footer>
      <p class="meta">
        
        








  


<time datetime="2012-07-30T00:26:00+09:00" pubdate data-updated="true">Jul 30<span>th</span>, 2012</time>
        
      </p>
    </footer>
  
  
    <article class="comments" >
      <h1>Comments</h1>
      <div id="disqus_thread" aria-live="polite"><noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
    </article>
  
</article>
</div>

  </div>
  <aside role="complementary" class="others separator clear-fix">
    <div class="clear-fix">
      <section id="recent-archives">
  <h3>Recent Archives</h3>
  <div>
    <ul>
      
        <li class="post">
          <a href="/blog/2012/10/16/busterjs-clientjs-testing/">Buster.JSについて少しLTした</a>
        </li>
      
        <li class="post">
          <a href="/blog/2012/10/10/light-coffee-bdd/">CoffeeScriptでライトにBDDする</a>
        </li>
      
        <li class="post">
          <a href="/blog/2012/09/28/dwango/">ｼｬﾊﾞﾄﾞｭﾋﾞ!ﾀｯﾁ!ﾀｲｼｮｰｸ!(ドワンゴ退職しました)</a>
        </li>
      
        <li class="post">
          <a href="/blog/2012/09/26/22-birthday/">22歳になりました</a>
        </li>
      
        <li class="post">
          <a href="/blog/2012/09/25/ios6-attributed-string/">iOS6のNSAttributedStringで色とか付ける</a>
        </li>
      
    </ul>
  </div>
  <p><a href="./archives/">Show All &raquo;</a></p>
</section>

<section id="github-repositories">
  <h3>Github Repositories</h3>
  <div ng-controller="githubCtlr">
    <ul class="repositories">
      
        <li ng-repeat="repo in repos" data-lang="{{ repo.language | lowercase }}">
          <a href="{{ repo.html_url }}">{{ repo.full_name }}</a>
        </li>
      
    </ul>
  </div> 
  <p><a href="http://github.com/">Show Github &raquo;</a></p>
  <script>
    function githubCtlr($scope, $http) {
      $scope.repos = [];
      $http.jsonp("https://api.github.com/users/yaakaito/repos?page=1&per_page=20&sort=pushed&callback=JSON_CALLBACK").success(function(data,status,header,config){
        var count = 7 || 5;
        for(var i = 0; i < count; i++) {
          $scope.repos.push(data.data[i]);
        }
      });
    }
  </script>
</section>


<section id="coderwall-badges">
  <h3>Coderwall Badges</h3>
  <div ng-controller="coderwallController">
    <ul class="badges">
      
      <li ng-repeat="badge in badges">
        <img ng-src="{{badge.badge}}" alt="{{badge.description}}" title="{{badge.name}}" />
      </li>
      
    </ul>
  </div> 
  <script>
    function coderwallController($scope, $http) {
    
      $scope.badges = [];   
      $http.jsonp("http://coderwall.com/yaakaito.json?callback=JSON_CALLBACK").success(function(data,status,header,config){
        $scope.badges = data.data.badges;
        console.log($scope.badges);
});
    }
    
  </script> 

  <p><a href="http://coderwall.com/">Show Coderwall &raquo;</a></p>
</section>


    </div>
  </aside>
  <footer role="contentinfo"><p>
  Copyright &copy; 2012 - yaakaito -
  <span class="credit">
  Powered by <a href="http://octopress.org">Octopress</a> ,
  <a href="http://github.com">Github</a> &
  <a href="http://https://github.com/yaakaito/Octopress-Theme-Blaze">Blaze</a>
</p>

</footer>
  

<script type="text/javascript">
      var disqus_shortname = 'yaakaitoorg';
      
        
        // var disqus_developer = 1;
        var disqus_identifier = 'http://yaakaito.github.com/resume/index.html';
        var disqus_url = 'http://yaakaito.github.com/resume/index.html';
        var disqus_script = 'embed.js?';
      
    (function () {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
</script>







  <script type="text/javascript">
    (function(){
      var twitterWidgets = document.createElement('script');
      twitterWidgets.type = 'text/javascript';
      twitterWidgets.async = true;
      twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
      document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    })();
  </script>





</body>
  <script>
  (function(doc) {
    var addEvent = 'addEventListener',
        type = 'gesturestart',
        qsa = 'querySelectorAll',
        scales = [1, 1],
        meta = qsa in doc ? doc[qsa]('meta[name=viewport]') : [];
    function fix() {
      meta.content = 'width=device-width,minimum-scale=' + scales[0] + ',maximum-scale=' + scales[1];
      doc.removeEventListener(type, fix, true);
    }
    if ((meta = meta[meta.length - 1]) && addEvent in doc) {
      fix();
      scales = [0.25, 1.6];
      doc[addEvent](type, fix, true);
    }
  }(document));
  </script>
</html>
