<img src="http://www.gravatar.com/avatar/8ba73f340ca40f9aa49a521fdc9512ce?s=320" style="border-radius: 160px"/>
<hgroup class="ore">
  <h2 class="name">KAZUMA Ukyo</h2>
  <h3 class="detail">software-developer @ Tokyo</h3>
</hgroup>
<section class="social">
  <ul>
    <li><a href="https://github.com/yaakaito" target="_blank"><img src="{{ root_url }}/assets/svg/github.svg" width="32" height="32" /></a></li>
    <li><a href="https://www.facebook.com/kazuma.ukyo" target="_blank"><img src="{{ root_url }}/assets/svg/facebook.svg" width="32" height="32" /></a></li>
    <li><a href="http://twitter.com/yaakaito" target="_blank"><img src="{{ root_url }}/assets/svg/twitter.svg" width="32" height="32" /></a></li>
    <li><a href="{{ root_url }}/atom.xml" target="_blank"><img src="{{ root_url }}/assets/svg/feed.svg" width="32" height="32" /></a></li>
  </ul>
</section>